.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

application/config/*
application/config/config.php
application/config/email.php

application/models/WebATM_php/*

logs/*

config.codekit
assets/sass/.sass-cache
