
/* =====================================
   main.scss
   ===================================== */
@import 'h5bp';
@import 'compass';
@import 'mixin';

$transifion-effect: all .15s ease-in-out;

/* =====================================
   main
   ===================================== */
body {
    background: url('../img/bg-wood.png') fixed center;
    background-size: contain;
}


#loading {
    @include size(100%);
    position: fixed;
    z-index: 2;
    text-align: center;
    background: rgba(0,0,0,0.8) url('../img/loading.gif') center no-repeat;
    background-size: 250px;
}
.container {
    background: url('../img/bg.jpg');
}


.call-to-action {
    background: url('../img/call-to-action.png');
    background-size: contain;
    @include size(120px);
    a {
        display: block;
        @include size(100%);
    }
    &:hover {
        @include transform(scale(1.1));
        @include transition($transifion-effect);
    }
}
.facebook {
    background: url('../img/facebook.png');
    background-size: contain;
    position: fixed;
    @include size(150px, 116px);
    @include transition($transifion-effect);
    a {
        display: block;
        @include size(100%);
    }
}

/* =====================================
   header
   ===================================== */
.header {
    min-height: 100px;
    @include clearfix;
    .logo {
        float: left;
        background: url('../img/logo.png');
        @include size(image-width('../img/logo.png'), image-height('../img/logo.png'));
        @include hide-text();
    }
    .banner {
        position: relative;
        margin: 0 auto;
        background: url('../img/banner.png') no-repeat;
        background-size: contain;
        @include size(600px,200px);
    }
}

/* =====================================
   nav
   ===================================== */
.main-nav {
    height: 50px;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    @include clearfix;
    a {
        padding: none;
        text-align: center;
        @include hide-text;
    }
    ul {
        height: 50px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    li {
        a:hover {
            background: none;
        }
        &.about {
            background: url('../img/btn-about.png') no-repeat center;
            background-size: contain;
        }
        &.about:hover {
            background: url('../img/btn-about-hover.png') no-repeat center;
            background-size: contain;
        }
        &.product {
            background: url('../img/btn-product.png') no-repeat center;
            background-size: contain;
        }
        &.product:hover {
            background: url('../img/btn-product-hover.png') no-repeat center;
            background-size: contain;
        }
        &.progresss {
            background: url('../img/btn-progress.png') no-repeat center;
            background-size: contain;
            @include box-shadow(none);
        }
        &.progresss:hover {
            background: url('../img/btn-progress-hover.png') no-repeat center;
            background-size: contain;
        }
        &.edm {
            background: url('../img/btn-edm.png') no-repeat center;
            background-size: contain;
        }
        &.edm:hover {
            background: url('../img/btn-edm-hover.png') no-repeat center;
            background-size: contain;
        }
    }
}


/* =====================================
   wall
   ===================================== */
.wall-container {
    background: url('../img/wall.png');
    @include size(image-width('../img/wall.png'), image-height('../img/wall.png'));
    letter-spacing: -0.32em;
}

.wall-cube,
.wall-black,
.wall-colorful {
    @include size(56.4px, 74px);
}

.wall-black,
.wall-colorful {
    position: absolute;
    z-index: 1;
    background: url('../img/wall-black.png');
    @include transition(all .4s ease-in-out);
}
.wall-cube {
    display: inline-block;
}
.wall-cube1 {
    .wall-black,
    .wall-colorful {
        background-position: -56.4px 0;
    }
}

.wall-cube.active {
    .wall-black { 
        @include transform(rotateY(180deg)); 
    }
    .wall-colorful { 
        @include transform(rotateY(0deg)); 
        z-index: 2;
    }
}

.wall-black {
    @include transform(rotateY(0deg));
    background: url('../img/wall-black.png');
    z-index: 2;
}
.wall-colorful {
    @include transform(rotateY(-180deg));
    background: url('../img/wall.png');
    z-index: 1;
    // transition-delay:0.2s;
}




/* =====================================
   media query
   ===================================== */
@media (min-width: 992px) { 
    .main-container {
        width: 960px;
    }
    .container {
        width: 1040px;
        padding: 40px;
    }
    .call-to-action {
        position: fixed;
        top: 50px;
        right: 50px;
    }
    .facebook {
        bottom: 100px;
        right: -55px;
        @include transform(rotate(-90deg));
        &:hover {
            right: -50px;
        }
    }
}

@media (max-width: 767px) { 
    .header {
        margin-top: 20px;
    }
    .facebook {
        position: fixed;
        bottom: -25px;
        right: 10px;
        @include transform(rotate(0));
        @include size(100px, 77px);
        &:hover {
            right: 10px;
            bottom: -20px;
        }
    }
}