
/* =====================================
   main.scss
   ===================================== */
@import 'h5bp';
@import 'compass';
@import 'mixin';


body {
    background: url('../img/bg-wood.png') fixed center;
    background-size: contain;
}
#loading {
    @include size(100%);
    position: fixed;
    z-index: 2;
    background: rgba(0,0,0,0.8);
    text-align: center;
    background: url('../img/loading.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300px;
}
.container {
    position: relative;
    margin: 0 auto;
    width: 1040px;
    padding: 40px;
    background: url('../img/bg.jpg');
}
.main-container {
    width: 960px;
}
.call-to-action {
    position: fixed;
    top: 50px;
    right: 50px;
    background: url('../img/call-to-action.png');
    background-size: contain;
    @include size(120px);
    a {
        display: block;
        @include size(100%);
    }
}

/* =====================================
   header
   ===================================== */
.header {
    min-height: 100px;
    @include clearfix;
    .logo {
        float: left;
        background: url('../img/logo.png');
        @include size(image-width('../img/logo.png'), image-height('../img/logo.png'));
    }
    .banner {
        position: relative;
        margin: 0 auto;
        background: url('../img/banner.png') no-repeat;
        background-size: contain;
        @include size(600px,200px);
    }
}

/* =====================================
   nav
   ===================================== */
.main-nav {
    height: 50px;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    a {
        padding: none;
        text-align: center;
        @include hide-text;
    }
    ul {
        height: 50px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    li {
        a:hover {
            background: none;
        }
        &.about {
            background: url('../img/btn-about.png') no-repeat center;
            background-size: contain;
        }
        &.about:hover {
            background: url('../img/btn-about-hover.png') no-repeat center;
            background-size: contain;
        }
        &.product {
            background: url('../img/btn-product.png') no-repeat center;
            background-size: contain;
        }
        &.product:hover {
            background: url('../img/btn-product-hover.png') no-repeat center;
            background-size: contain;
        }
        &.progress {
            background: url('../img/btn-progress.png') no-repeat center;
            background-size: contain;
        }
        &.progress:hover {
            background: url('../img/btn-progress-hover.png') no-repeat center;
            background-size: contain;
        }
        &.edm {
            background: url('../img/btn-edm.png') no-repeat center;
            background-size: contain;
        }
        &.edm:hover {
            background: url('../img/btn-edm-hover.png') no-repeat center;
            background-size: contain;
        }
    }
}


/* =====================================
   wall
   ===================================== */
.wall-container {
    background: url('../img/wall.png');
    @include size(image-width('../img/wall.png'), image-height('../img/wall.png'));
    letter-spacing: -0.32em;
}

.wall-cube,
.wall-black,
.wall-colorful {
    @include size(56.4px, 74px);
}

.wall-black,
.wall-colorful {
    position: absolute;
    z-index: 1;
    background: url('../img/wall-black.png');
    @include transition(all .4s ease-in-out);
}
.wall-cube {
    display: inline-block;
}
.wall-cube1 {
    .wall-black,
    .wall-colorful {
        background-position: -56.4px 0;
    }
}

.wall-cube.active {
    .wall-black { 
        @include transform(rotateY(180deg)); 
    }
    .wall-colorful { 
        @include transform(rotateY(0deg)); 
        z-index: 2;
    }
}

.wall-black {
    @include transform(rotateY(0deg));
    background: url('../img/wall-black.png');
    z-index: 2;
}
.wall-colorful {
    @include transform(rotateY(-180deg));
    background: url('../img/wall.png');
    z-index: 1;
    // transition-delay:0.2s;
}