
/* =====================================
   main.scss
   ===================================== */
@import 'h5bp';
@import 'compass';
@import 'mixin'; 

$transifion-effect: all .15s ease-in-out;

/* =====================================
   main
   ===================================== */
body {
    background: url('../img/bg-wood.png') fixed center;
    background-size: cover;
    font-family: 黑體-繁, 'Heiti TC', 蘋果儷中黑, 'Apple LiGothic Medium', 微軟正黑體, 'Microsoft JhengHei';
}

#credit_modal .modal-body p{
    font-size: 1.2em;
    text-align: justify;
}
#loading {
    @include size(100%);
    position: fixed;
    z-index: 2;
    text-align: center;
    background: rgba(0,0,0,0.8) url('../img/loading.gif') center no-repeat;
    background-size: 250px;
}
.container {
    background: url('../img/bg.jpg');
}


.call-to-action {
    background: url('../img/call-to-action.png');
    background-size: contain;
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 10;
    @include size(120px);
    a {
        display: block;
        @include size(100%);
    }
    &:hover {
        @include transform(scale(1.1));
        @include transition($transifion-effect);
    }
}
.facebook {
    background: url('../img/facebook.png');
    background-size: contain;
    position: fixed;
    z-index: 10;
    @include size(120px, 116px);
    @include transition($transifion-effect);
    a {
        display: block;
        @include size(100%);
    }
}
.contact-us {
    background: url('../img/contact-us-2.png') no-repeat;
    background-size: contain;
    position: fixed;
    z-index: 10;
    @include size(120px, 116px);
    @include transition($transifion-effect);
    a {
        display: block;
        @include size(100%);
    }
}


/* =====================================
   header
   ===================================== */
.header {
    min-height: 100px;
    @include clearfix; 
    .logo {
        display: block; 
        @include size(image-width('../img/logo.png'), image-height('../img/logo.png'));

    }
}

/* =====================================
   nav
   ===================================== */
.main-nav {
    height: 50px;
    border-top: 1px solid #bbb; 
    border-bottom: 1px solid #bbb;
    margin-bottom: 20px;
    margin-top: 20px;
    background: rgba(255,255,255,0.9);
    @include clearfix;
    a {
        padding: none;
        text-align: center;
        @include hide-text; 
    }
    ul {
        height: 50px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    li {
        position: relative;
        a:hover {
            background: none;
        }
        @each $class in story, product, progresss, photos {
            &.#{$class} {
                background: url('../img/btn-#{$class}.png') no-repeat center;
                background-size: contain;
                &:hover {
                    background: url('../img/btn-#{$class}-hover.png') no-repeat center;
                    background-size: contain;
                }
            }
        }
        &.target:before {
            display: inline-block;
            content: "";
            position: absolute;
            left: 30px;
            top: 0;
            width: 10px;
            height: 40px;
            background: yellow;
        }
    }
}

.navbar-default {
    background: rgba(255,255,255,0.9);
}
/* =====================================
   index
   ===================================== */
.banner {
    margin-bottom: 20px;
}
.video {
    position: relative;
    a:after {
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -(image-width('../img/Home_play.png'))/2;
        margin-top: -(image-height('../img/Home_play.png'))/2;
        background: url('../img/Home_play.png');
        @include background-via-img('../img/Home_play.png');
    }
    a:hover {
        &:after {
            background: url('../img/Home_play2.png');
        }
    }
}

.index-intro {
    // background: rgba(247,246,242,0.8);
    padding-top: 50px;
    position: relative;
    @include border-radius(10%);
    .intro-text {
        position: absolute;
        font-size: 1.2em;
        text-align: center;
        top: 20%;
        left: 50%;
        margin-left: -119px;
    }
    .sun {
        position: absolute;
        right: 80px;
        bottom: 13px;
        z-index: 3;
        width: 250px;
    }
    .intro-text-highlight {
        position: absolute;
        top: 43%;
        left: 50%;
        margin-left: -212.5px;
        font-size: 1.2em;
        font-weight: 900;
        text-align: center;
        line-height: 1em;
    }
}


/* =====================================
   nav
   ===================================== */
.order-info {
    padding: 20px;
    margin-bottom: 30px;
}
.counter {
    position: absolute;
    top: 204px;
    left: 372px;
    text-align: center;
    @include size(140px, 71px);
}
.cake {
    position: relative;
    margin: 0 auto;
    background: url('../img/progress_cake.png') center top no-repeat, url('../img/progress_gray_line.png') center bottom no-repeat;
    @include size(100%, image-height('../img/progress_cake.png')+image-height('../img/progress_gray_line.png')+40);
}
.fund-raising {
    background: #fff;
    padding: 20px;
    .content-bg { 
        background: #e9e3e2;
        position: relative;
        @include size(100%);
    }
    .describe { 
        background: url('../img/progress_text.png') center top no-repeat;
        background-size: contain;
        @include size(100%, image-height('../img/progress_text.png'));

    }
    .content {
        padding: 5px;
        margin-top: 20px;
        margin-bottom: 20px;  
        outline: 1px solid #a8a8a8;
        min-height: 300px;
        @include clearfix;
    }
    .title {
        position: relative;
        top: 15px;
        left: -5px;
        margin-bottom: 40px;
        padding-top: 7px;
        color: #fff;
        font-size: 24px;
        letter-spacing: 2px;
        @include background-via-img('../img/progress_arrow.png');
    }
    .money {
        position: relative;
        top: -2px;
        left: 5px;  
        margin-right: 5px; 
    }
    .chart {
        position: relative;
        text-align: center;
        min-height: 220px;
        margin-bottom: 20px;
        @include clearfix;
        .percent-wrap {
            position: absolute;
            top: 85px;
            width: 100%;
            text-align: center;
        }
        .percent {
            font-family: 'Rammetto One', cursive;
            font-size: 40px;
        }
    }
    .cake-count {
        margin: 20px 0;
        text-align: center;
        font-size: 1.4em;
        color: darken(#42b3e2,10);
        span {
            font-family: 'Rammetto One', cursive;
            font-size: 40px;
            color: #333;
            // text-shadow: 1px 3px #333;
            margin: 0 5px 0 5px;
        }
    }
}
.order-btn {
    display: block;
    position: relative;
    margin: 0 auto;
    @include background-via-img('../img/progress_order_button.png');
    @include hide-text;
    &:hover {
        @include background-via-img('../img/progress_order_button2.png');
    }
    &:active {
        background-position: 1px 1px;
    }
}

/* =====================================
   wall
   ===================================== */
.wall-container {
    @include size(image-width('../img/wall.png'), image-height('../img/wall.png'));
    letter-spacing: -0.32em;
}
 
.wall-cube,
.wall-black,
.wall-colorful {
    @include size(54.7px, 72px);
}

.wall-black,
.wall-colorful {
    position: absolute;
    z-index: 1;
    background: url('../img/wall-black3.png');
    @include transition(all .4s ease-in-out);
}
.wall-cube {
    display: inline-block;
    margin-bottom: -0.36em;
}

.wall-cube.active {
    .wall-black { 
        @include transform(rotateY(180deg)); 
    }
    .wall-colorful { 
        @include transform(rotateY(0deg)); 
        z-index: 2;
    }
}

.wall-black {
    @include transform(rotateY(0deg));
    background: url('../img/wall-black3.png');
    z-index: 2;
}
.wall-colorful {
    @include transform(rotateY(-180deg));
    background: url('../img/wall.png');
    z-index: 1;
} 
@for $i from 1 through 100 {
    .wall-cube-position:nth-child(#{$i}) { 
        @if $i < 11 {
            .wall-black,
            .wall-colorful {
                background-position: -54.8px * ($i - 1) -70px * 0;
            }
        } @else if  $i < 21 {
            .wall-black,
            .wall-colorful {
                background-position: -54.8px * ($i - 11) -70px * 1;
            }
        } @else if  $i < 31 {
            .wall-black,
            .wall-colorful {
                background-position: -54.8px * ($i - 11) -70px * 2;
            }
        } @else if  $i < 41 {
            .wall-black,
            .wall-colorful {
                background-position: -54.8px * ($i - 11) -70px * 3;
            }
        } @else if  $i < 51 {
            .wall-black,
            .wall-colorful {
                background-position: -54.8px * ($i - 11) -70px * 4;
            }
        } @else if  $i < 61 {
            .wall-black,
            .wall-colorful {
                background-position: -54.8px * ($i - 11) -70px * 5;
            }
        } @else if  $i < 71 {
            .wall-black,
            .wall-colorful {
                background-position: -54.8px * ($i - 11) -70px * 6;
            }
        } @else if  $i < 81 {
            .wall-black,
            .wall-colorful {
                background-position: -54.8px * ($i - 11) -70px * 7;
            }
        } @else if  $i < 91 {
            .wall-black,
            .wall-colorful {
                background-position: -54.8px * ($i - 11) -70px * 8;
            }
        } @else if  $i < 101 {
            .wall-black,
            .wall-colorful {
                background-position: -54.8px * ($i - 11) -70px * 9;
            }
        } @else {
            background-position: 0 0;
        }
    }
}
.odometer-formatting-mark {
    visibility: hidden;
    margin-left: -2px;
}

/* =====================================
   story
   ===================================== */
.story-frame {
    padding: 0 20px 20px;
    &.first {
        background: #eea094;
        .story-foot-text {
            margin-top: 0;
        }
        .center {
            text-align: center;
        }
    }
    &.second {
        background: #87b9b1;
        .title img {
            width: 60%;
            position: relative;
            margin: 0 auto;
        }
        .intro {
            padding-top: 3em;
        }
    }
    &.third {
        background: #d4a98d;
        .title img {
            width: 90%;
            position: relative;
            margin: 0 auto;
        }
        .intro {
            padding-top: 4em;
            line-height: 1.5em;
        }
    }
    .subtitle {
        border-top: 1px solid #333;
        border-bottom: 1px solid #333;
        padding: 10px 0;
        font-size: 1.4em;
        text-align: center;
        margin: 10px 0 20px;
        font-weight: 900;
    }
    .after-subtitle {
        font-size: 1.4em;
        text-align: center;
        margin-bottom: 20px;
        font-weight: 900;
    }
    .intro {
        font-size: 1.25em;
        text-align: left;
        p {
            margin-bottom: 1.5em;
        }
    }
    .story-foot-text {
        text-align: center;
        font-size: 1.4em;
        font-weight: 900;
        margin-top: 20px;
    }
    .go-to-facebook a {
        margin-top: 10px;
        @include background(url('../img/Story_gotofanpage.png'));
        @include size(400px, 28px);
        &:hover {
            @include background(url('../img/Story_gotofanpage2.png'));
        }
    }

}




/* =====================================
   order
   ===================================== */
.order-intro-frame {
    border-top: 10px solid #fbb060;
    border-bottom: 10px solid #fbb060;
    padding: 20px 0;
    margin-top: 20px;
    .cake-info {
        padding: 30px 0;
        font-size: 1.7em;
        color: #fe762d;
        background: rgba(255,255,255,0.85);
        li {
            margin-bottom: 5px;
        }
    }
    .sale-price {
        color: #000;
        position: relative;
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: -50px;
            height: 3px;
            width: 70px;
            background: #000;
            @include transform(rotate(-45deg));
        }
    }
    .present {
        margin-top: 20px;
        padding: 5px 0;
        border-top: 3px solid #fbb060;
        border-bottom: 3px solid #fbb060;
        background: #fff;
        font-size: 1.7em;
        text-align: center;
    }
    .notice {
        margin-top: 20px;
        padding: 5px 0;
        border-top: 3px solid #fbb060;
        border-bottom: 3px solid #fbb060;
        background: #fff;
        text-align: center;
        font-size: 1.7em;
        ul {
            margin: 0;
        }
    }
}
.order-form {
    background: #fff;
    font-size: 1.2em;
    padding-bottom: 20px;
    .error {
        color: red;
    }
    h3 {
        margin-top: 1em;
    }
}
.mg10 {
    margin: 10px;
}
.count, .total {
    @include clearfix();
    .price:before {
        content: "NT$";
        display: inline-block;
    }
    .total-price:before {
        content: "NT$";
        display: inline-block;
    }
}
.receiver {
    .receiver-delete {
        cursor: pointer;
    }
}
.line {
    border-top: 1px solid #cbcbcb;
    height: 1px;
}
.add-receiver {
    cursor: pointer;
    font-size: 1.5em;
    color: #fe762d;
}
.focus {
    color: #fe762d;
}
.payment {
    a {
        display: block;
        position: relative;
        margin: 0 auto;
        height: 80px;
        width: 70%;
        line-height: 80px;
        font-size: 30px;
        color: #fff;
        background:  #fbb060;
        text-align: center;
        text-decoration: none;
        @include border-radius(5px);

    }
    a.open {
        &:hover,
        &.active {
            color: #fbb060;
            background: #fff;
            @include box-shadow(0 0 10px #fbb060);
            @include transform(scale(1.05));
            @include transition(all .1s ease-in); 
        }
        &:active {
            background: lighten(#fbb060,30);
            @include box-shadow(0 0 20px #fbb060);
        }

    }
    .closed {
        a { 
            cursor: not-allowed; 
            background: #cdcdcd;
        }
    }
    .col-md-4 {
        text-align: center;
    }
}
.get-receipt-or-not {
    display: none;
    // visibility: hidden;
    height: 0;
    @include transition(all .1s ease-in); 
    &.check {
        // visibility: visible;
        display: inherit;
        height: auto;
    }
}
.confirm {
    .confirm-info {
        font-size: 1.2em;
        text-align: center;
        border: 3px solid #fbb060;
        padding: 20px;
        p {
            margin: 5px 0;
        }
    }
    .shipping-fee {
        color: #fbb060;
    }
    span {
        color: #fbb060;
    }
    .confirm-total-num {
        font-size: 1.5em;
        font-weight: 900;
        margin: 0 3px;
    }
    .confirm-total-price {
        font-size: 1.5em;
        font-weight: 900;
        margin: 0 3px;
        &:before {
            content: "NT$";
            display: inline-block;

        }
    }
    .submit-btn-row {
        text-align: center;
        margin-top: 20px;
    }
}
.remittance-info {
    text-align: left;
    border: 3px solid #fbb060;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-weight: 900;
    color: rgb(208,16,76);
    p {
        margin: 5px 0;
    }
}
.remittance .info {
    font-weight: 900;
    color: rgb(208,16,76);
    margin-bottom: 20px;
}


.order-fail,
.order-success {
    text-align: center;
    font-size: 1.4em;
}
.order-success-frame {
    background: #e8eef4;
    background: #f6f5ef;
    border: 1px solid #7c8081;
    padding: 15px;
    text-align: center;
    p {
        font-size: 1.4em;
    }
}

/* =====================================
   order_virtual_account
   ===================================== */
.virtual-account {
    font-family: 'Times New Roman';
    font-weight: bold;
    color: #ed4e46;
    font-size: 1.5em;
}
.virtual-account-focus {
    font-weight: bold;
    color: #ed4e46;
}



/* =====================================
   photos
   ===================================== */
.masonry-container {
    position: relative;
    .item {
        max-width: 23%;
        margin-bottom: 20px;
    }
}
.product-intro-img {
    width: 100%;
    margin-bottom: 20px;
}
.main-product-intro {
    padding-top: 50px;
    h2 {
        position: absolute;
        left: -10px;
        top: -20px;
        z-index: 1;
    }
    >img {
        position: relative;
        margin: 0 auto 20px;
    }
}
.cake-intro-list {
    background: #fff;
    background: rgba(255,255,255,0.9);
    font-size: 1.7em;
    color: #d86057;
    border-bottom: 50px solid #d86057;
    li {
        margin-bottom: 1em;
    }
}



/* =====================================
   footer
   ===================================== */
body > .container {
    padding-bottom: 300px;
}
body {
    position: relative;
}
footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -2px;
    min-height: 300px;
    padding-top: 110px;
    background: url('../img/footer_background.png');
    .container {
        background: none;
    }
    h3 {
        vertical-align: top;
    }
    img {
        width: 100px;
    }
    .x {
        width: auto;
    }
    .aws img {
        width: 130px;
    }
    .esunbank img {
        width: 130px;
    }
    .contact-us {
        font-size: 1.5em;
        color: #fff;
        text-decoration: underline;
    }
    
}


/* =====================================
   media query
   ===================================== */
@media (min-width: 992px) { 
    .main-container { 
        width: 960px;
        padding-bottom: 30px;
    }
    .container {
        width: 1040px;
        padding: 20px 40px;
    }
    
    .facebook {
        bottom: 100px;
        right: -55px;
        @include transform(rotate(-90deg));
        &:hover {
            right: -50px;
        }
    }
    .contact-us {
        bottom: 220px;
        right: -78px;
        @include transform(rotate(-90deg));
        &:hover {
            right: -73px;
        }
    }
    .order-form .address {
        width: 489px;
    }
    .order-form .add_num,
    .order-form .num {
        width: 78px;
    }
    .order-form .rec-input {
        width: 95px;
    }
    .order-form .rec-phone {
        width: 130px;
    }
    .subscriber-info {
        margin-top: 20px;
        .pay_phone {
            width: 160px;
        }
        .pay_name {
            width: 95px;
        }
        .pay_email {
            width: 250px;
        }
    }
    .get-receipt-or-not {
        .pay_post {
            width: 60px;
        }
        .pay_address {
            width: 290px;
        } 
        .pay_title,
        .pay_tax_id {
            width: 158px;
        }
    }
    .cake-intro-list {
        margin-top: 70px;
    }
    .order-intro-frame .cake-info {
        padding: 30px 0 60px;
    }
    .order-intro-frame .sale-price {
        top: 10px;
        right: 20px;
    }
    .remittance {
        .order_acc_name {
            width: 265px;
        }
    }
    .student-pic {
        float: left;
        width: 60%;
        margin-right: 30px;
        margin-bottom: 10px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .facebook {
        bottom: 100px;
        right: -55px;
        @include transform(rotate(-90deg));
        &:hover {
            right: -50px;
        }
    }
    .contact-us {
        bottom: 220px;
        right: -78px;
        @include transform(rotate(-90deg));
        &:hover {
            right: -73px;
        }
    }
    .call-to-action {
        top: 20px;
        right: 20px;
    }
    .masonry-container .item {
        max-width: 48%;
        margin-bottom: 10px;
    }
    .wall-container {
        position: relative;
        margin: 0 auto 20px;
    }
    footer {
        background: none;
    }
}
@media (max-width: 767px) { 
    body > .container {
        padding-bottom: 500px;
    }
    .container {
        padding-top: 20px;
        
    }
    .facebook {
        position: fixed;
        bottom: -25px;
        right: 10px;
        @include transform(rotate(0));
        @include size(100px, 77px);
    }
    .contact-us {
        position: fixed;
        bottom: -44px;
        right: 109px;
        @include transform(rotate(0));
        @include size(100px, 77px);
    }
    .order {
        background: url('../img/order.png');
        background-size: contain;
        position: fixed;
        bottom: -45px;
        right: 208px;
        z-index: 10;
        @include size(100px, 77px);
        a {
            display: block;
            @include size(100%);
        }
    }
    .header .logo {
        height: auto;
        margin-bottom: 20px;
    }
    .payment .payment-btn {
        font-size: 1.4em;
        width: 100%;
    }
    .payment .col-xs-12 {
        margin-bottom: 20px;
    }
    .cake-info .sale-price:before {
        display: none;
    }
    .index-intro {
        background: rgba(247,246,242,0.8);
        padding-top: 50px;
        position: relative;
        @include border-radius(10%);
        .intro-text,
        .intro-text-highlight,
        .sun {
            position: relative;
            margin-left: 0;
            top: 0;
            left: 0;
            line-height: 1.4em;
        }
        .intro-text-highlight {
            margin-top: 20px;
        }
        .sun {
            margin-top: 20px;
        }
    }
    .masonry-container .item {
        max-width: 95%;
        margin-bottom: 10px;
    }
    .story-frame .go-to-facebook a {
        width: 300px;
        height: 21px;
        background-size: contain;
        &:hover {
            background-size: contain;
        } 
    }

    footer {
        background: none;
        padding-bottom: 30px;
        padding-top: 0;
    }
}