/* =====================================
   main.scss
   ===================================== */
/* HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/* =====================================
   main
   ===================================== */
body {
  background: url("../img/bg-wood.png") fixed center;
  background-size: contain; }

#loading {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  text-align: center;
  background: rgba(0, 0, 0, 0.8) url("../img/loading.gif") center no-repeat;
  background-size: 250px; }

.container {
  background: url("../img/bg.jpg"); }

.call-to-action {
  background: url("../img/call-to-action.png");
  background-size: contain;
  width: 120px;
  height: 120px; }
  .call-to-action a {
    display: block;
    width: 100%;
    height: 100%; }
  .call-to-action:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }

.facebook {
  background: url("../img/facebook.png");
  background-size: contain;
  position: fixed;
  width: 150px;
  height: 116px;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out; }
  .facebook a {
    display: block;
    width: 100%;
    height: 100%; }

/* =====================================
   header
   ===================================== */
.header {
  min-height: 100px;
  overflow: hidden;
  *zoom: 1; }
  .header .logo {
    float: left;
    background: url("../img/logo.png");
    width: 310px;
    height: 207px;
    text-indent: -119988px;
    overflow: hidden;
    text-align: left; }
  .header .banner {
    position: relative;
    margin: 0 auto;
    background: url("../img/banner.png") no-repeat;
    background-size: contain;
    width: 600px;
    height: 200px; }

/* =====================================
   nav
   ===================================== */
.main-nav {
  height: 50px;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  overflow: hidden;
  *zoom: 1; }
  .main-nav a {
    padding: none;
    text-align: center;
    text-indent: -119988px;
    overflow: hidden;
    text-align: left; }
  .main-nav ul {
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px; }
  .main-nav li a:hover {
    background: none; }
  .main-nav li.about {
    background: url("../img/btn-about.png") no-repeat center;
    background-size: contain; }
  .main-nav li.about:hover {
    background: url("../img/btn-about-hover.png") no-repeat center;
    background-size: contain; }
  .main-nav li.product {
    background: url("../img/btn-product.png") no-repeat center;
    background-size: contain; }
  .main-nav li.product:hover {
    background: url("../img/btn-product-hover.png") no-repeat center;
    background-size: contain; }
  .main-nav li.progresss {
    background: url("../img/btn-progress.png") no-repeat center;
    background-size: contain;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .main-nav li.progresss:hover {
    background: url("../img/btn-progress-hover.png") no-repeat center;
    background-size: contain; }
  .main-nav li.edm {
    background: url("../img/btn-edm.png") no-repeat center;
    background-size: contain; }
  .main-nav li.edm:hover {
    background: url("../img/btn-edm-hover.png") no-repeat center;
    background-size: contain; }

/* =====================================
   wall
   ===================================== */
.wall-container {
  width: 564px;
  height: 720px;
  letter-spacing: -0.32em; }

.wall-cube,
.wall-black,
.wall-colorful {
  width: 56.4px;
  height: 72px; }

.wall-black,
.wall-colorful {
  position: absolute;
  z-index: 1;
  background: url("../img/wall-black.png");
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.wall-cube {
  display: inline-block;
  margin-bottom: -0.3em; }

.wall-cube1 .wall-black,
.wall-cube1 .wall-colorful {
  background-position: -56.4px 0; }

.wall-cube.active .wall-black {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg); }
.wall-cube.active .wall-colorful {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  z-index: 2; }

.wall-black {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  background: url("../img/wall-black.png");
  z-index: 2; }

.wall-colorful {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  background: url("../img/wall.png");
  z-index: 1; }

.wall-cube-position:nth-child(1) .wall-black,
.wall-cube-position:nth-child(1) .wall-colorful {
  background-position: 0px 0px; }

.wall-cube-position:nth-child(2) .wall-black,
.wall-cube-position:nth-child(2) .wall-colorful {
  background-position: -56.4px 0px; }

.wall-cube-position:nth-child(3) .wall-black,
.wall-cube-position:nth-child(3) .wall-colorful {
  background-position: -112.8px 0px; }

.wall-cube-position:nth-child(4) .wall-black,
.wall-cube-position:nth-child(4) .wall-colorful {
  background-position: -169.2px 0px; }

.wall-cube-position:nth-child(5) .wall-black,
.wall-cube-position:nth-child(5) .wall-colorful {
  background-position: -225.6px 0px; }

.wall-cube-position:nth-child(6) .wall-black,
.wall-cube-position:nth-child(6) .wall-colorful {
  background-position: -282px 0px; }

.wall-cube-position:nth-child(7) .wall-black,
.wall-cube-position:nth-child(7) .wall-colorful {
  background-position: -338.4px 0px; }

.wall-cube-position:nth-child(8) .wall-black,
.wall-cube-position:nth-child(8) .wall-colorful {
  background-position: -394.8px 0px; }

.wall-cube-position:nth-child(9) .wall-black,
.wall-cube-position:nth-child(9) .wall-colorful {
  background-position: -451.2px 0px; }

.wall-cube-position:nth-child(10) .wall-black,
.wall-cube-position:nth-child(10) .wall-colorful {
  background-position: -507.6px 0px; }

.wall-cube-position:nth-child(11) .wall-black,
.wall-cube-position:nth-child(11) .wall-colorful {
  background-position: 0px -72px; }

.wall-cube-position:nth-child(12) .wall-black,
.wall-cube-position:nth-child(12) .wall-colorful {
  background-position: -56.4px -72px; }

.wall-cube-position:nth-child(13) .wall-black,
.wall-cube-position:nth-child(13) .wall-colorful {
  background-position: -112.8px -72px; }

.wall-cube-position:nth-child(14) .wall-black,
.wall-cube-position:nth-child(14) .wall-colorful {
  background-position: -169.2px -72px; }

.wall-cube-position:nth-child(15) .wall-black,
.wall-cube-position:nth-child(15) .wall-colorful {
  background-position: -225.6px -72px; }

.wall-cube-position:nth-child(16) .wall-black,
.wall-cube-position:nth-child(16) .wall-colorful {
  background-position: -282px -72px; }

.wall-cube-position:nth-child(17) .wall-black,
.wall-cube-position:nth-child(17) .wall-colorful {
  background-position: -338.4px -72px; }

.wall-cube-position:nth-child(18) .wall-black,
.wall-cube-position:nth-child(18) .wall-colorful {
  background-position: -394.8px -72px; }

.wall-cube-position:nth-child(19) .wall-black,
.wall-cube-position:nth-child(19) .wall-colorful {
  background-position: -451.2px -72px; }

.wall-cube-position:nth-child(20) .wall-black,
.wall-cube-position:nth-child(20) .wall-colorful {
  background-position: -507.6px -72px; }

.wall-cube-position:nth-child(21) .wall-black,
.wall-cube-position:nth-child(21) .wall-colorful {
  background-position: -564px -144px; }

.wall-cube-position:nth-child(22) .wall-black,
.wall-cube-position:nth-child(22) .wall-colorful {
  background-position: -620.4px -144px; }

.wall-cube-position:nth-child(23) .wall-black,
.wall-cube-position:nth-child(23) .wall-colorful {
  background-position: -676.8px -144px; }

.wall-cube-position:nth-child(24) .wall-black,
.wall-cube-position:nth-child(24) .wall-colorful {
  background-position: -733.2px -144px; }

.wall-cube-position:nth-child(25) .wall-black,
.wall-cube-position:nth-child(25) .wall-colorful {
  background-position: -789.6px -144px; }

.wall-cube-position:nth-child(26) .wall-black,
.wall-cube-position:nth-child(26) .wall-colorful {
  background-position: -846px -144px; }

.wall-cube-position:nth-child(27) .wall-black,
.wall-cube-position:nth-child(27) .wall-colorful {
  background-position: -902.4px -144px; }

.wall-cube-position:nth-child(28) .wall-black,
.wall-cube-position:nth-child(28) .wall-colorful {
  background-position: -958.8px -144px; }

.wall-cube-position:nth-child(29) .wall-black,
.wall-cube-position:nth-child(29) .wall-colorful {
  background-position: -1015.2px -144px; }

.wall-cube-position:nth-child(30) .wall-black,
.wall-cube-position:nth-child(30) .wall-colorful {
  background-position: -1071.6px -144px; }

.wall-cube-position:nth-child(31) .wall-black,
.wall-cube-position:nth-child(31) .wall-colorful {
  background-position: -1128px -216px; }

.wall-cube-position:nth-child(32) .wall-black,
.wall-cube-position:nth-child(32) .wall-colorful {
  background-position: -1184.4px -216px; }

.wall-cube-position:nth-child(33) .wall-black,
.wall-cube-position:nth-child(33) .wall-colorful {
  background-position: -1240.8px -216px; }

.wall-cube-position:nth-child(34) .wall-black,
.wall-cube-position:nth-child(34) .wall-colorful {
  background-position: -1297.2px -216px; }

.wall-cube-position:nth-child(35) .wall-black,
.wall-cube-position:nth-child(35) .wall-colorful {
  background-position: -1353.6px -216px; }

.wall-cube-position:nth-child(36) .wall-black,
.wall-cube-position:nth-child(36) .wall-colorful {
  background-position: -1410px -216px; }

.wall-cube-position:nth-child(37) .wall-black,
.wall-cube-position:nth-child(37) .wall-colorful {
  background-position: -1466.4px -216px; }

.wall-cube-position:nth-child(38) .wall-black,
.wall-cube-position:nth-child(38) .wall-colorful {
  background-position: -1522.8px -216px; }

.wall-cube-position:nth-child(39) .wall-black,
.wall-cube-position:nth-child(39) .wall-colorful {
  background-position: -1579.2px -216px; }

.wall-cube-position:nth-child(40) .wall-black,
.wall-cube-position:nth-child(40) .wall-colorful {
  background-position: -1635.6px -216px; }

.wall-cube-position:nth-child(41) .wall-black,
.wall-cube-position:nth-child(41) .wall-colorful {
  background-position: -1692px -288px; }

.wall-cube-position:nth-child(42) .wall-black,
.wall-cube-position:nth-child(42) .wall-colorful {
  background-position: -1748.4px -288px; }

.wall-cube-position:nth-child(43) .wall-black,
.wall-cube-position:nth-child(43) .wall-colorful {
  background-position: -1804.8px -288px; }

.wall-cube-position:nth-child(44) .wall-black,
.wall-cube-position:nth-child(44) .wall-colorful {
  background-position: -1861.2px -288px; }

.wall-cube-position:nth-child(45) .wall-black,
.wall-cube-position:nth-child(45) .wall-colorful {
  background-position: -1917.6px -288px; }

.wall-cube-position:nth-child(46) .wall-black,
.wall-cube-position:nth-child(46) .wall-colorful {
  background-position: -1974px -288px; }

.wall-cube-position:nth-child(47) .wall-black,
.wall-cube-position:nth-child(47) .wall-colorful {
  background-position: -2030.4px -288px; }

.wall-cube-position:nth-child(48) .wall-black,
.wall-cube-position:nth-child(48) .wall-colorful {
  background-position: -2086.8px -288px; }

.wall-cube-position:nth-child(49) .wall-black,
.wall-cube-position:nth-child(49) .wall-colorful {
  background-position: -2143.2px -288px; }

.wall-cube-position:nth-child(50) .wall-black,
.wall-cube-position:nth-child(50) .wall-colorful {
  background-position: -2199.6px -288px; }

.wall-cube-position:nth-child(51) .wall-black,
.wall-cube-position:nth-child(51) .wall-colorful {
  background-position: -2256px -360px; }

.wall-cube-position:nth-child(52) .wall-black,
.wall-cube-position:nth-child(52) .wall-colorful {
  background-position: -2312.4px -360px; }

.wall-cube-position:nth-child(53) .wall-black,
.wall-cube-position:nth-child(53) .wall-colorful {
  background-position: -2368.8px -360px; }

.wall-cube-position:nth-child(54) .wall-black,
.wall-cube-position:nth-child(54) .wall-colorful {
  background-position: -2425.2px -360px; }

.wall-cube-position:nth-child(55) .wall-black,
.wall-cube-position:nth-child(55) .wall-colorful {
  background-position: -2481.6px -360px; }

.wall-cube-position:nth-child(56) .wall-black,
.wall-cube-position:nth-child(56) .wall-colorful {
  background-position: -2538px -360px; }

.wall-cube-position:nth-child(57) .wall-black,
.wall-cube-position:nth-child(57) .wall-colorful {
  background-position: -2594.4px -360px; }

.wall-cube-position:nth-child(58) .wall-black,
.wall-cube-position:nth-child(58) .wall-colorful {
  background-position: -2650.8px -360px; }

.wall-cube-position:nth-child(59) .wall-black,
.wall-cube-position:nth-child(59) .wall-colorful {
  background-position: -2707.2px -360px; }

.wall-cube-position:nth-child(60) .wall-black,
.wall-cube-position:nth-child(60) .wall-colorful {
  background-position: -2763.6px -360px; }

.wall-cube-position:nth-child(61) .wall-black,
.wall-cube-position:nth-child(61) .wall-colorful {
  background-position: -2820px -432px; }

.wall-cube-position:nth-child(62) .wall-black,
.wall-cube-position:nth-child(62) .wall-colorful {
  background-position: -2876.4px -432px; }

.wall-cube-position:nth-child(63) .wall-black,
.wall-cube-position:nth-child(63) .wall-colorful {
  background-position: -2932.8px -432px; }

.wall-cube-position:nth-child(64) .wall-black,
.wall-cube-position:nth-child(64) .wall-colorful {
  background-position: -2989.2px -432px; }

.wall-cube-position:nth-child(65) .wall-black,
.wall-cube-position:nth-child(65) .wall-colorful {
  background-position: -3045.6px -432px; }

.wall-cube-position:nth-child(66) .wall-black,
.wall-cube-position:nth-child(66) .wall-colorful {
  background-position: -3102px -432px; }

.wall-cube-position:nth-child(67) .wall-black,
.wall-cube-position:nth-child(67) .wall-colorful {
  background-position: -3158.4px -432px; }

.wall-cube-position:nth-child(68) .wall-black,
.wall-cube-position:nth-child(68) .wall-colorful {
  background-position: -3214.8px -432px; }

.wall-cube-position:nth-child(69) .wall-black,
.wall-cube-position:nth-child(69) .wall-colorful {
  background-position: -3271.2px -432px; }

.wall-cube-position:nth-child(70) .wall-black,
.wall-cube-position:nth-child(70) .wall-colorful {
  background-position: -3327.6px -432px; }

.wall-cube-position:nth-child(71) .wall-black,
.wall-cube-position:nth-child(71) .wall-colorful {
  background-position: -3384px -504px; }

.wall-cube-position:nth-child(72) .wall-black,
.wall-cube-position:nth-child(72) .wall-colorful {
  background-position: -3440.4px -504px; }

.wall-cube-position:nth-child(73) .wall-black,
.wall-cube-position:nth-child(73) .wall-colorful {
  background-position: -3496.8px -504px; }

.wall-cube-position:nth-child(74) .wall-black,
.wall-cube-position:nth-child(74) .wall-colorful {
  background-position: -3553.2px -504px; }

.wall-cube-position:nth-child(75) .wall-black,
.wall-cube-position:nth-child(75) .wall-colorful {
  background-position: -3609.6px -504px; }

.wall-cube-position:nth-child(76) .wall-black,
.wall-cube-position:nth-child(76) .wall-colorful {
  background-position: -3666px -504px; }

.wall-cube-position:nth-child(77) .wall-black,
.wall-cube-position:nth-child(77) .wall-colorful {
  background-position: -3722.4px -504px; }

.wall-cube-position:nth-child(78) .wall-black,
.wall-cube-position:nth-child(78) .wall-colorful {
  background-position: -3778.8px -504px; }

.wall-cube-position:nth-child(79) .wall-black,
.wall-cube-position:nth-child(79) .wall-colorful {
  background-position: -3835.2px -504px; }

.wall-cube-position:nth-child(80) .wall-black,
.wall-cube-position:nth-child(80) .wall-colorful {
  background-position: -3891.6px -504px; }

.wall-cube-position:nth-child(81) .wall-black,
.wall-cube-position:nth-child(81) .wall-colorful {
  background-position: -3948px -576px; }

.wall-cube-position:nth-child(82) .wall-black,
.wall-cube-position:nth-child(82) .wall-colorful {
  background-position: -4004.4px -576px; }

.wall-cube-position:nth-child(83) .wall-black,
.wall-cube-position:nth-child(83) .wall-colorful {
  background-position: -4060.8px -576px; }

.wall-cube-position:nth-child(84) .wall-black,
.wall-cube-position:nth-child(84) .wall-colorful {
  background-position: -4117.2px -576px; }

.wall-cube-position:nth-child(85) .wall-black,
.wall-cube-position:nth-child(85) .wall-colorful {
  background-position: -4173.6px -576px; }

.wall-cube-position:nth-child(86) .wall-black,
.wall-cube-position:nth-child(86) .wall-colorful {
  background-position: -4230px -576px; }

.wall-cube-position:nth-child(87) .wall-black,
.wall-cube-position:nth-child(87) .wall-colorful {
  background-position: -4286.4px -576px; }

.wall-cube-position:nth-child(88) .wall-black,
.wall-cube-position:nth-child(88) .wall-colorful {
  background-position: -4342.8px -576px; }

.wall-cube-position:nth-child(89) .wall-black,
.wall-cube-position:nth-child(89) .wall-colorful {
  background-position: -4399.2px -576px; }

.wall-cube-position:nth-child(90) .wall-black,
.wall-cube-position:nth-child(90) .wall-colorful {
  background-position: -4455.6px -576px; }

.wall-cube-position:nth-child(91) .wall-black,
.wall-cube-position:nth-child(91) .wall-colorful {
  background-position: -4512px -648px; }

.wall-cube-position:nth-child(92) .wall-black,
.wall-cube-position:nth-child(92) .wall-colorful {
  background-position: -4568.4px -648px; }

.wall-cube-position:nth-child(93) .wall-black,
.wall-cube-position:nth-child(93) .wall-colorful {
  background-position: -4624.8px -648px; }

.wall-cube-position:nth-child(94) .wall-black,
.wall-cube-position:nth-child(94) .wall-colorful {
  background-position: -4681.2px -648px; }

.wall-cube-position:nth-child(95) .wall-black,
.wall-cube-position:nth-child(95) .wall-colorful {
  background-position: -4737.6px -648px; }

.wall-cube-position:nth-child(96) .wall-black,
.wall-cube-position:nth-child(96) .wall-colorful {
  background-position: -4794px -648px; }

.wall-cube-position:nth-child(97) .wall-black,
.wall-cube-position:nth-child(97) .wall-colorful {
  background-position: -4850.4px -648px; }

.wall-cube-position:nth-child(98) .wall-black,
.wall-cube-position:nth-child(98) .wall-colorful {
  background-position: -4906.8px -648px; }

.wall-cube-position:nth-child(99) .wall-black,
.wall-cube-position:nth-child(99) .wall-colorful {
  background-position: -4963.2px -648px; }

.wall-cube-position:nth-child(100) .wall-black,
.wall-cube-position:nth-child(100) .wall-colorful {
  background-position: -5019.6px -648px; }

/* =====================================
   media query
   ===================================== */
@media (min-width: 992px) {
  .main-container {
    width: 960px; }

  .container {
    width: 1040px;
    padding: 40px; }

  .call-to-action {
    position: fixed;
    top: 50px;
    right: 50px; }

  .facebook {
    bottom: 100px;
    right: -55px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg); }
    .facebook:hover {
      right: -50px; } }
@media (max-width: 767px) {
  .header {
    margin-top: 20px; }

  .facebook {
    position: fixed;
    bottom: -25px;
    right: 10px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    width: 100px;
    height: 77px; }
    .facebook:hover {
      right: 10px;
      bottom: -20px; } }
